{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center mt-4 mb-4">Réinitialisez votre mot de passe</h1>

    <div class="d-flex justify-content-center">
        {{ form_start(form) }}
        {{ form_row(form.password) }}
        <div class="d-flex justify-content-center">
            <button class="btn btn-success mt-3" type="submit">Réinitialiser mon mot de passe</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}