@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
    font-family: 'Sriracha', cursive;
}

/* navbar */
.icon-profile-desktop {
    display: none;
}

@media screen and (min-width: 992px) {
    .icon-profile-desktop {
        display: initial;
    }

    .icon-profile-mobile {
        display: none;
    }
}
