@import "variables.scss";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
    font-family: 'Sriracha', cursive;
    background-color: #000000e8;
    color: #FFFFFF;
}

.white-background {
    color: black;
    background-color: #FFFFFF;
}

.table {
    color: white;
}

.img-home {
    width: 75px;
}

/* navbar */
.icon-profile-desktop {
    display: none;
}

/* account */
.display-account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-wilders {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* images */
.avatar-img-admin {
    width: 200px;
    border-radius: 10px;
}

/* card */
.card {
    border-radius: 10px;
    border: 3px solid rgb(71, 20, 255);
    box-shadow: 5px 5px 5px;
}

@media screen and (min-width: 768px) {
    .account-wilders {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .display-account {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width: 992px) {
    .icon-profile-desktop {
        display: initial;
    }

    .icon-profile-mobile {
        display: none;
    }
}
