@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
    font-family: 'Sriracha', cursive;
}

/* navbar */
.icon-profile-desktop {
    display: none;
}

/* account */
.display-account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-wilders {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .account-wilders {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .display-account {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width: 992px) {
    .icon-profile-desktop {
        display: initial;
    }

    .icon-profile-mobile {
        display: none;
    }
}
