{% extends 'mail/base_mail.html.twig' %}

{% block title %}
    Réinitialisation du mot de passe pour Loue ton Wilder
{% endblock title %}

{% block body %}
    <h1>Réinitialisation du mot de passe pour des Loue ton Wilder</h1>
    <p>Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe:</p>
    <a href="{{ url('reset_password', {token: user.token}) }}">Réinitialiser le mot de passe</a>
{% endblock body %}