{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center mt-4">
        <h1 class="ml-4">Validation du compte</h1>
        <p>Votre compte est validé, vous pouvez vous connecter</p>
        <a href="{{ path('login') }}">Connexion</a>
    </div>
{% endblock body %}